* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #D7C097 0%, #73AF6F 100%);
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 1.6;
    flex-direction: column;
}

.login-container {
    width: 100%;
    max-width: 450px;
    perspective: 1000px
}

h1 {
    color: #035e4b;
    font-family: Helvetica;
    font-size: 3.0em;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 2.0em;
    margin-bottom: 10px;
    text-align: center;
}


/* login form box*/
form {
    background-color: rgba(3, 94, 75, 0.2);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(1, 9, 7, 0.5);
    width: 150%;
    max-width: 400px;
}

/* labels for userid and password */
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #044638;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"]
{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #E7DEAF;
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #035e4b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 30px;
}

button[type="submit"]:hover {
    background-color: #044638;
}

button[type="submit"]:active {
    transform: scale(0.98);
}

/* return to login page */
p {
    text-align: center;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}

a {
    color: #01090780;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #E7DEAF;
    text-decoration: underline;
}