* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #D7C097 0%, #73AF6F 100%);
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 1.6;
    flex-direction: column;
}

.login-container {
    width: 100%;
    max-width: 450px;
    perspective: 1000px
}

h1 {
    color: #035e4b;
    font-family: Helvetica;
    font-size: 3.0em;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 2.0em;
    margin-bottom: 10px;
    text-align: center;
}

.standard{
    width: 100%;
    padding: 12px;
    background-color: #035e4b;
    color: white;
    border: 15px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 30px;

}


/* return to login page */
p {
    text-align: center;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}

a {
    color: #01090780;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #E7DEAF;
    text-decoration: underline;
}